.nav{
    width: 1110px;
    height: 48px;
    margin: 40px auto 74px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: var(--closest);
}

.nav_links{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav_link{
    color: rgba(54, 83, 107, 0.7);
    font-family: var(--font-public);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.nav_link:hover{
    color: #36536B;
}

.nav_link:nth-of-type(1){
    margin-right: 24px;
}

.nav_logo{
    width: 135px;
    object-fit: contain;
}

.nav_demo{
    width: 173px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: #BA4270;
    cursor: pointer;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    color: #FBFCFE;
    font-family: var(--font-public);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
}

.nav_demo:hover{
    background-color: #DA6D97;
}

@media(max-width: 1180px){
    .nav{
        width: 90%;
    }
}

@media(max-width: 760px){
    .nav_logo{
        width: 120px;
    }

    .nav_links{
        gap: 25px;
    }
    .nav_demo{
        width: 140px;
        height: 40px;
        font-size: 0.85rem;
    }
}